<div class="row">
  <div class="col-md-4">
    <img src="{{image}}" class="card-img" alt="..." style="width: 16rem">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h1 class="card-title">{{user.name}}</h1>
      <h4 class="card-text">{{user.email}}</h4>
      {{#ifCond user.id userSelf.id}}
      <p><a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a></p>
      {{/ifCond}}
    </div>
  </div>
</div>