<div class="container">
  <h2>EDIT</h2>
  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" value="{{user.name}}">
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>

    <button type="submit" class="btn btn-primary mb-3">Save</button>
  </form>
  <a href="javascript:history.back()">回到上一頁</a>
</div>